/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-feb-2015, 10:20:02
    Author     : Jeries
*/

.content-panel-grid tr, .content-panel-grid td{
    border: 0 !important;
}

.blankButton{
    background: none !important;
    border: none !important;
    display:inline-block !important;
    box-shadow: none;
    margin-top: -5.8%;
}
.ui-row-editor{
    display: inline-block;
    float: left;
    margin-top: 2.7%;
}
.tablaActividadesWrapper{
    border-top: 1px solid rgb(119, 119, 119);
    padding: 5px 0px 0px 0px;
}
.guardarTodoWrapper input[type='submit'],.btn-save{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #34d934;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border:none;
    margin: 0px 0px 5px 0px;
}
.guardarTodoWrapper input[type='submit']:hover,.btn-save:hover{
    opacity: 0.85;
}
.ui-dialog{
	z-index: 100000 !important;
}
.ui-dialog-content{
	height: auto !important;
}
.planillasDT{
	width: 85%;
	display:inline-block;
}
#deduccionesWrapper{
	float: right;
	display:inline-block;
	max-height:350px;
}